@import "./../../../../assets/css/variables.scss";

:host {
  .gameboard {
    text-align: center;

    &__row {
      display: inline-block;
    }

    &__cell {
      background-color: $color-1;
      border: 1px solid $color-2;
      width: 48px;
      height: 48px;
    }

    &__cell--clean:hover {
      background-color: $color-2;
    }

    &__cell--hit {
      background-color: $color-3;
    }

    &__cell--fail {
      background-color: $color-7;
    }

    &__cell--destroyed {
      background-color: $color-4;
    }
  }
}
