@import "./../../../../../assets/css/variables.scss";

:host {
  .gameboard {

    &__row {
      display: inline-block;
    }

    &__cell {
      background-color: $color-1;
      border: 2px solid $color-2;
    }

    &__cell--clean:hover {
      background-color: $color-2;
    }

    &__cell--hit {
      background-color: $color-3;
    }

    &__cell--fail {
      background-color: $color-7;
    }

    &__cell--destroyed {
      background-color: $color-4;
    }
  }
}
